<div class="menu-container">
  <ul class="menu-top">
    <li>
      <a class="menu-item active">
        <i nz-icon nzType="search" nzTheme="outline"></i>
      </a>
    </li>
    <li>
      <a class="menu-item">
        <i nz-icon nzType="layout" nzTheme="outline"></i>
      </a>
    </li>
    <li>
      <a class="menu-item" routerLink="/ticketing">
        <i nz-icon nzType="message" nzTheme="outline"></i>
      </a>
    </li>
    <li>
      <a class="menu-item">
        <i nz-icon nzType="check-square" nzTheme="outline"></i>
      </a>
    </li>
    <li>
      <a class="menu-item">
        <i nz-icon nzType="calendar" nzTheme="outline"></i>
      </a>
    </li>
  </ul>

  <ul class="menu-bottom">
    <li>
      <a class="menu-item">
        <i nz-icon nzType="user" nzTheme="outline"></i>
      </a>
    </li>
    <li>
      <a class="menu-item">
        <i nz-icon nzType="logout" nzTheme="outline"></i>
      </a>
    </li>
    <li>
      <a class="menu-item">
        <i nz-icon nzType="setting" nzTheme="outline"></i>
      </a>
    </li>
  </ul>
</div>
