.menu-container {
  height: calc(100% - 40px);
}

.menu-container ul a {
  width: 50px;
  height: 40px;
  display: block;
  font-size: 22px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.menu-container ul li:hover a {
  color: #2DBDB6;
}

.menu-container ul li:not(:first-child) {
  margin-top: 25px;
}

.menu-container ul a.active {
  background: #fff;
  color: #2DBDB6;
}

.menu-container ul.menu-top {
  margin-top: 50px;
}

.menu-container ul.menu-bottom {
  position: absolute;
  bottom: 0;
}
