<div class="header-container">
  <ul class="header" nz-menu nzMode="horizontal">
    <li nz-menu-item>
      نمای کلی
    </li>
    <li nz-submenu nzTitle="گزارشات" nzIcon="down">

    </li>
    <li nz-submenu nzTitle="اطلاعات تکمیلی" nzIcon="down">
      <ul>
        <li nz-menu-item nzSelected>
          اطلاعات مشتری
        </li>
      </ul>
    </li>
    <li nz-submenu nzTitle="عملیات" nzIcon="down">

    </li>
  </ul>

  <div class="operator-info">
    <div class="operator-icon">
      <i nz-icon nzType="user" nzTheme="outline"></i>
    </div>
    <div class="operator-name">
      <h5>رضا میر سعیدی</h5>
      <h6>کارشناس مرکز تماس</h6>
    </div>
  </div>
</div>

