<div class="row">
  <div class="col-md-12">
    <h4 class="page-title">اطلاعات پروفایل</h4>
    <div class="panel">
      <div class="panel-header">
        <h5>اطلاعات پایه</h5>
      </div>
      <div class="panel-body">
        <app-user-base-info></app-user-base-info>
      </div>
    </div>


    <div class="panel">
      <div class="panel-header">
        <h5>آدرس و تماس</h5>
      </div>
      <div class="panel-body">
        <app-user-address-and-phone></app-user-address-and-phone>
      </div>
    </div>


    <div class="panel">
      <div class="panel-header">
        <h5>حساب بانکی</h5>
      </div>
      <div class="panel-body">
        <app-user-bank-account></app-user-bank-account>
      </div>
    </div>


    <div class="panel">
      <div class="panel-header">
        <h5>اطلاعات قرارداد</h5>
      </div>
      <div class="panel-body">
        <app-user-contract-info></app-user-contract-info>
      </div>
    </div>
  </div>
</div>
